@import "nullStyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cookie&family=DM+Sans:wght@400;700&family=Fraunces:opsz@9..144&family=Fredoka:wdth,wght@100,400;110.9,490&family=Karla&family=Montserrat:wght@500;600;700;800&family=Mulish&family=Old+Standard+TT&family=Open+Sans&family=Oranienbaum&family=Orbitron&family=Roboto:ital,wght@0,400;0,500;1,400&family=Rubik&family=Tinos&family=Whisper&display=swap');

body{
   background:  #191919;
   font-family: "DM SANS";
   color: #fff;
   font-size: 22px;
   font-weight: 400;
}

[class*= "__container"]{
   max-width: 1330px;
   margin: 0 auto;
   padding: 0 15px;
}

.wrapper {
   overflow: hidden;
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.header {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 5;
}
.header__container{
   margin-bottom: 40px;
}
.header__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 120px;
}
.header__logo {
}
._logotype {
  position: relative;
  z-index: 50;
}
.header__menu {
}
.menu_body {
   
}
.menu__list {

}
.menu_link {
   font-size: 17px;
   line-height: calc(27/7*100%);
   color: #FFFFFF;
   transition: all 0.3s ease 0s;
   &:hover{
      color: #118DA8;
   }
}
.menu_icon {
   display: none;
}
@media(min-width: 767px){
   .menu__list {
      display: flex;
      align-items: center;
      gap: 40px;
   }
}
@media (max-width: 767px){
   .menu_icon{
      display: block;
      z-index: 60;
      position: fixed;
      width: 30px;
      height: 18px;
      cursor: pointer;
      right: 10px;
      top: 50px;
     
   }
   .menu_icon span,
   .menu_icon::before,
   .menu_icon::after {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color:#fff;
     
   }
   .menu_icon::before,
   .menu_icon::after{
      content: " ";
   }
   .menu_icon::before{
      top: 0;
   }
   .menu_icon::after{
      bottom: 0;
   }
   .menu_icon span{
      top: 50%;
      transform: scale(1) translate(0px, -50%);
   }
   .menu_icon._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px, -50%);
   }
   .menu_icon._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px, 50%);
   }
   .menu_icon._active span{
      
      transform: scale(0) translate(0px, 0px);
   }
   .header__menu{
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: rgba(100, 108, 87, 0.8);
      transition: right 0.3s ease 0.3s;
      padding: 120px 30px 30px 30px;
      overflow: auto;
      text-align: right;
   }
   .header__menu._active{
      right: 0;
   }
   .header__menu:before{
      content: " ";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 120px;
      background-color: cadetblue;
      z-index: 50;
   }
   .menu_link{
      font-size: 20px;
      font-weight: 700;
   }
   ._logotype {
      position: fixed;
      z-index: 10;
    }
}
////////////////////main
.main {
   flex: 1 1 auto;
}
.lvl {
}
.lvl__container {
   padding: 160px 0 100px 0;
}
@media(max-width:767px){
   .lvl__container{
      padding: 160px 0 50px 0;
   }
}
.lvl__body {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;  
}
.lvl-body {

}


.lvl_imge {
   flex: 0 1 50%;
   padding: 0px 0 65.7% 0;
   position: relative;
   span{
      position: absolute;
      left: -55px;
      top: 40px;
      display: inline-block;
      background-color: #0ac7ec;
      width: 50px;
      height: 7px;
      border-radius: 5px;
      transform: rotate(10deg);
   }
}
.lvl_imge::before{
   content: " ";
   position: absolute;
   display: inline-block;
   background-color: #0ac7ec;
   height: 7px;
   width: 75px;
   top: -5px;
   left: -45px;
   border-radius: 5px;
   transform: rotate(40deg);
}
.lvl_imge::after{
   content: " ";
   position: absolute;
   display: inline-block;
   background-color: #0ac7ec;
   height: 7px;
   width: 35px;
   top: -20px;
   left: 30px;
   border-radius: 5px;
   transform: rotate(90deg);
}

@media(max-width:992px){
   .lvl_imge {
      flex: 0 1 100%;
      margin: 0 15px 15px 15px;
      padding: 0 0 115% 0;
   }
}
.ibg{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
   border-radius: 12px;
}
.ibg img{
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}
.lvl_center{
  
}
.lvl_text {
   flex: 0 1 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0 0 0 60px;
}
@media(max-width:992px){
   .lvl_text {
      flex: 0 1 100%;
      padding: 0;
      padding: 0 15px 0 15px;
   }
}
.lvl__title {
   margin-bottom: 90px;
}
@media(max-width:992px){
   .lvl__title  {
      margin-bottom: 45px;
   }
}
@media(max-width:767px){
   .lvl__title  {
      margin-bottom: 25px;
   }
}
.title-lvl {
   font-weight: 400;
   font-size: calc(40px + 30 * (100vw / 1330));
   line-height: 126%;
   letter-spacing: 3.2px;
   span{
      font-weight: 700;
      font-size: calc(50px + 20 * (100vw / 1330));
   }
}
.lvl_listen {
}
.listen_body {
   margin-bottom: 15px;
}
.body-listen {
   font-size: 15px;
   line-height: 160%;
}
@media(max-width:992px){
   .body-listen{
      text-align: center;
   }
}
.lvl_menu {
}
.lvl_list {
   display: flex;
   align-items: center;
   gap: 15px;
}
@media(max-width:992px){
   .lvl_list {
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.lvl_link {
   transition: all 0.3s ease 0s;
   img{

   }
   img:hover{
      position: relative;
      width: 30px;
   }
}
//////////////////episode
.episod {
}
.episod__container {
}
.episod__body {
   
}
.episode__text {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 65px;
}
@media(max-width:767px){
   .episode__text{
      margin-bottom: 30px;
   }
}
.text-body {
}
.episode__title {
}
@media(max-width:767px){
   .episode__title{
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
      flex: 0 1 100%;
   }
}
.rpisode-title {
   font-size: calc(20px + 44 * (100vw / 1330));
   line-height: 124%;
   letter-spacing: 2.88px;
}

.episod__button {
   display: inline-block;
   font-size: 17px;
   line-height: 27px;
   color: #FFFFFF;
}
.button {
   a{
      color: #fff;
      padding: 12px 20px;
      background: #118DA8;
      border-radius: 6px;
      transition: all 0.3s ease 0s;
      &:hover{
         background: #012c35;
      }
   }
}
@media(max-width:767px){
   .episod__button{
      display: flex;
      justify-content: center;
      flex: 0 1 100%;
   }
}
.column_body {
   background: #000000;
   border-radius: 32px;
   padding: 40px 40px 40px 40px;
   margin-bottom: 60px;
}
@media(max-width:767px){
   .column_body{
      padding: 30px
   }
}
.column_item {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
@media(max-width:992px){
   .column_item{
      flex-wrap: wrap;
   }
}
.column_image {
   padding: 0 0 37.623% 0;
   width: 100%;
   flex: 0 1 50%;
}
@media(max-width:992px){
   .column_image {
     flex: 0 1 100%;
     padding: 50%;
   }
}
.ibg {

}
.column_text {
   padding: 0 25px;
   flex: 0 1 75%;


}
@media(max-width:767px){
   .column_text {
      padding: 15px 0 0 0 ;
      flex: 0 1 100%;
   }
}
.text-content {

}
.column_content {


}
.gear_item {
   margin-bottom: 50px;
   p{
      display: inline-block;
      font-size: 18px;
      line-height: 150%;
      background: #191919;
      border-radius: 6px;
      padding: 0 16px;
   }
}
.epis_body {
   margin-bottom: 20px;
}
.epis_item {
   p{
      font-size: 17px;
      line-height: 159%;
      color: #118DA8;
      
   }
   span{
      margin-left: 5px;
   }
}
.title_column {
   margin-bottom: 25px;
}
.title_itemCOlumn {
   p{
      font-size: 64px;
      line-height: 110%;
      letter-spacing: 2.56px;
   }
}
@media(max-width:767px){
   .title_itemCOlumn {
      p{
         font-size: 20px;
         line-height: 110%;
         letter-spacing: 2.56px;
      }
   }
}
.subtitle_column {
   margin-bottom: 25px;
}
.subtitle_itemCOlumn {
   p{
      font-size: 22px;
      line-height: 33px;
      color: rgba(255, 255, 255, 0.7);
   }
}
@media(max-width:767px){
   .subtitle_itemCOlumn  {
      p{
         font-size: 14px;
      }
   }
}
.button_column {
}
.button_itemCOlumn {
   font-size: 18px;
}
.button {
}
///////////////////jacob
.jacob {
}
.jacob__container {
   margin-bottom: 200px;
}
@media(max-width:992px){
   .jacob__container {
      margin-bottom: 100px;
   }
}
@media(max-width:767px){
   .jacob__container {
      margin-bottom: 75px;
   }
}
.jacob__body {
   display: flex;
   align-items: center;
   margin: 0 -45px;
   flex-wrap: wrap;
}
.jacob__column {
   flex: 0 1 50%;
   //min-height: 750px;
   padding: 0 45px;
}
@media(max-width: 992px){
   .jacob__column{
      flex: 0 1 100%;
   }
}
.jacob__item {

}
.jacob_arrow {
   display: inline-flex;
   background: #118DA8;
   border-radius: 400px;
   padding: 34px 24px 34px 17px;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
   transition: all 1s ease 0s;
  // margin-left: 65%;
   transform: rotate(0deg);
   &:hover{
      background: #012b34;
   }
}
.left {
}
.right {
}
.left,
.right{
   width: 35px;
   height: 40px;
   position: relative;
   display: inline-flex;
   cursor: pointer;
}
.left::before,
.right::before,
.right::after,
.left::after{
   content: " ";
   position: absolute;
}
.left::before,
.right::before{
   width: 45px;
   height: 2px;
   background-color: #FFFFFF;
   top: 16px;
   left: -5px;
}
.left::after,
.right::after{
   width: 35px;
   height: 35px;

}
.left::after{
   border-top: 2px solid white;
   border-left: 2px solid white;
   transform: rotate(-45deg);
   top: 0px;
   left: 0px;
   display: none;
}
.right::after{
   border-top: 2px solid white;
   border-left: 2px solid white;
   transform: rotate(135deg);
   top: 0px;
   left: 0px;
}
.jacob__text {
   opacity: 0;
   visibility: hidden;
   transition: all 1.5s ease 0s;
   position: relative;
   right: +100%;
}
@media(max-width: 992px){
   .jacob__text{
      margin-bottom: 15px;
   }
}
.jacob__text._active{
   opacity: 1;
   visibility: visible;
   right: 0%;
   //transition: left 1.5s ease 0s;
}
.jacob_arrow._active{
   transform: rotate(180deg);
   //margin-left: 0;
}
.txt_body {
}
.blue__txt {
   margin-bottom: 25px;
}
.epis_item {
}
.txt__name {
   margin-bottom: 30px;
   p{
      font-size: calc(25px + 35 * (100vw / 1330));
      line-height: 122%;
      letter-spacing: 2.88px;
   }
}
.txt__text {
   p:first-child{
      margin-bottom: 30px;
   }
   p{
      font-size: 22px;
      line-height: 150%;
      color: rgba(255, 255, 255, 0.7);
   }
}
.jacob__image {

   img{
   border-radius: 12px;
   width: 100%;
   height: 100%;
   }
   //padding: 0 0 159.375% 0;
}
@media(max-width: 992px){
   .jacob__image{
      display: flex;
      justify-content: center;
      img{
         width: 75%;
         height: 75%;
      }
   }
}
@media(max-width: 767px){
   .jacob__image{
      img{
         width: 100%;
         height: 100%;
      }
   }
}
.ibg {
}
////////////sub
.sub {
}
.sub__container {
   margin-bottom: 200px;
}
@media(max-width:992px){
   .sub__container {
      margin-bottom: 100px;
   }
}
@media(max-width:767px){
   .sub__container {
      margin-bottom: 75px;
   }
}
.sub__content {
   background: #000000;
   border-radius: 32px;
   position: relative;
   &::before{
      content: " ";
      display: inline-block;
      height: 5px;
      width: 65px;
      position: absolute;
      left: -20px;
      bottom: 10px;
      transform: rotate(120deg);
      background-color: #0ac7ec;
      border-radius: 5px;
   }
   &::after{
      content: " ";
      display: inline-block;
      height: 5px;
      width: 45px;
      position: absolute;
      left: 60px;
      bottom: -0px;
      transform: rotate(80deg);
      background-color: #0ac7ec;
      border-radius: 5px;
   }
   span{
      display: inline-block;
      height: 5px;
      width: 20px;
      position: absolute;
      left: -40px;
      bottom: 50px;
      transform: rotate(-25deg);
      background-color: #0ac7ec;
      border-radius: 5px;
   }
}

.sub__body {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.sub__column {
   flex: 0 1 50%;

}  
@media(max-width:992px){
   .sub__column {
      flex: 0 1 100%;
   }  
}
.sub__item {
   padding: 60px;
}
@media(max-width:767px){
   .sub__item {
      padding: 15px;
   }
}
.sub__text {
}
.sub_label {
}
.sub__title {
   p{
      font-size: calc(30px + 38 * (100vw / 1330));
      line-height: 110%;
      letter-spacing: 2.88px;
   }
}
.sub__input {
   padding: 0 0 0 60px;
   input{
      background: #191919;
      border: 1px solid #191919;
      border-radius: 6px;
      font-size: calc(15px + 11 * (100vw / 1330));
      line-height: 120%;
      color: rgba(255, 255, 255, 0.7);
      padding: 25px 0 25px 20px;
      width: 100%;
   }
}
@media(max-width:992px){
   .sub__input{
      padding: 0;
   }
}
.sub_name {
   margin-bottom: 20px;
}
.sub__Email {
   margin-bottom: 30px;
}
.sub__button {
   button{
      background: #118DA8;
      border-radius: 6px;
      padding: 10px 20px;
      font-weight: 700;
      font-size: 15px;
      line-height: 192%;
      color: rgba(255, 255, 255, 0.7);
      transition: all 0.3s ease 0s;
      &:hover{
         background-color: #012b34;
      }
   }
}
@media(max-width:767px){
   .sub__button {
      display: flex;
      justify-content: center;
   }
}
////////////////note
.note {
}
.note__container {
   margin-bottom: 200px;
}
@media(max-width:992px){
   .note__container{
      margin-bottom: 100px;
   }
}
@media(max-width:767px){
   .note__container {
      margin-bottom: 75px;
   }
}
.note__items{

}
.note__body {
   display: grid;
   grid-template-columns: repeat(3, 33.333%);
   grid-template-rows: repeat(2, 321px, 365px);
   gap: 16px;
}
@media(max-width: 1370px){
   .note__body {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }
}
@media(max-width: 767px){
   .note__body {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
   }
}
.note__column {
   background: #000000;
   border-radius: 32px;
}
.note__item {
   padding: 50px;
}
@media(max-width: 767px){
   .note__item {
      padding: 20px;
   }
}
.note__star {
   margin-bottom: 20px;
}
.note__title-column {
   margin-bottom: 20px;
}
.note-title {
   font-size: calc(30px + 5 * (100vw / 1330));
   line-height: 120%;
}
.note__subtitle-column {
   p{
      font-size: 24px;
      line-height: 120%;
      color: rgba(255, 255, 255, 0.7);
   }
}


///////////////footer
.footer {
}
.footer__container {
   padding-bottom: 120px;
}
.footer__body {
   display: grid;
   grid-template-columns: 1fr 222px 222px 1fr;
   grid-template-rows: repeat(1, 1fr);
}
@media(max-width:992px){
   .footer__body{
   grid-template-columns: 1fr 222px 222px;
   grid-template-rows: repeat(2, 1fr);
   }
}
@media(max-width:767px){
   .footer__body{
   grid-template-columns: 1fr 1fr;
   grid-template-rows: repeat(1, 165px);
   }
}
.footer__column {

}
.footer__item {
}
.footer__logo {
   margin-bottom: 25px;
   display: flex;
   justify-content: start;
}
@media(max-width:767px){
   .footer__logo{
   justify-content: center;
   }
}
.footer__menu-inst {

}
.footer__list-inst {
    display: flex;
    justify-content: start;
    gap: 18px;
    li{
       a{color: #FFFFFF;}
       font-size: 35px;
    }
}
@media(max-width:767px){
   .footer__list-inst {
   justify-content: center;
   }
}
.icon-instagram {
   transition: all 0.3s ease 0s;
   &:hover{
      color: #118DA8;
   }
}
.icon-twitter {
   transition: all 0.3s ease 0s;
   &:hover{
      color: #118DA8;
   }
}
.icon-facebook {
   transition: all 0.3s ease 0s;
   &:hover{
      color: #118DA8;
   }
}

.footer__menu {
   display: flex;
   justify-content: center;
}
.footer_ll{
   display: flex;
   justify-content: start;
   //gap: 17px;
}
.footer__list {
   li{
      margin-bottom: 10px;
   }
   li:last-child{
      margin-bottom: 0;
   }
}
.footer_link {
   font-size: 17px;
   line-height: 159%;
   color: #FFFFFF;
   &:hover{
      text-decoration: underline;
   }
}
.footer_l{
   display: flex;
   gap: 17px;
}
.footer_ll{
   display: flex;
   justify-content: start;
   //gap: 17px;
}
@media(max-width:767px){
   .footer_ll{
      display: flex;
      justify-content: center;
      //gap: 17px;
   }
   .footer_l{
      display: block;
      text-align: center;
      li{
         margin-bottom: 17px;
      }
   }
}